@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap');

html{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Raleway", "Helvetica", "Arial", "sans-serif";
    background-color: #ED1E79;
    }

.wrapper{
    background-color: white;
    margin: auto;
}

.logo{
    background-color: white;
   font-size:24px;
  
   margin-left: 50px;
}
    .nav{
        text-align: right;
        background: white;
    }

    h1, h2, h3, p {
        margin: 0;
    }

.nav a{
    font-size: 12px;
    font-weight: 700;
    color: #58595b;
    text-decoration: none;
}


    .logo-highlight {
        color: #ED1E79;
        font-weight: 900;
        text-transform: capitalize;
    }

.hero {
    background-image: url(/img/ozio_office_bw.jpg);
    height: 450px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.hero h1 {
    text-align: center;
    color: white;
    font-size: 100px;
    font-weight: 400;
}

.sub {
    padding: 0;
    margin-bottom: 50px;
    background-color: #ed1e79;
}

.sub h2{
    font-weight: 400;
    color: white;
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub p {
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.portfolio-gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.portfolio-item{
    padding: 0;
    margin: 20px;
    color: white;
    background-color: #ED1E79;
    text-align: center;
}

.portfolio-item button{
    color: white;
    background: #ED1E79;
    border-color: white;
    width: 50px;
    height: 30px;
    border: 1px solid white;
    border-radius: 8px;
}

.portfolio-item h4{
    font-weight: 400;
}

.sub2{
    margin-top: 50px;
    background-color: #ed1e79;
}
.sub2 h2{
    font-weight: 400;
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub2 h3{
    font-weight: 400;
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.services{
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 50px;
    color: white;
    text-align: center;
    list-style-type: none;
}


.sub3 {
    font-size: 24px;
    margin-bottom: 30px;
    color: white;
    text-align: center;
}

.logo-numthree{
    margin-left: 5px;
    font-weight: 900;
    text-transform: capitalize;
}
 .container {
    height: 200px;
    position: relative;
    text-align: center;
 }

.container button{
     color: white;
    background-color: #58595b;
    width: 150px;
    height: 40px;
    border-radius: 12px;
}

.footer{
    color: white;
    text-align: center;
}

