* {
    padding: 0;
    margin: 0;
}

/* nav {
 
} */
.menu{
    list-style-type: none;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;

}
.menu li{
    border: 2px solid white;
    background-color: rgb(38, 106, 207);
}
.menu li a {
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    margin: 20px;
}
.menu-icon {
    display: none;
}

@media screen and (max-width:420px){
    .menu-icon {
        display: block;
        width: 25px;
    }
    .menu li{
        flex-basis: 100%;
        border: 2px solid white;       
    }
    nav {
        height: 20px;
        overflow: hidden;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.7s ease-in-out;
    }
    .nav-expanded {
        height: 360px;   
    }

}