* {
    margin: 0;
    padding: 0;
}

main {
    background-color: rgba(245, 245, 220, 0.258);
}

#navItem {    
    text-decoration: overline;
    color: #c6c4bf;
}


#navItem:hover {
    transition: 1s ease-in-out;
    text-decoration: underline;

}

#JL {
    position: relative;
    margin-bottom: 2rem;
    animation: opening 3s ease-in;
}

#icon {
    animation: opening 6s ease-in;
}

@keyframes opening {
    from {opacity: 0;}
    to {opacity: 100;}
}

#footer {
    margin-top: 10rem;
}

.description {
    margin: 5rem;
}

#intro {
    font-size: x-large;
    font-weight: bolder;
    animation: introduction 3s ease-in;
}

@keyframes introduction {
    from {font-weight: lighter;}
    to {font-weight: bolder;}
}

#goal {
    font-size: 1.2rem;
    font-weight: 200;
    width: 30vw;
}

#bio {
    margin-top: 5rem;
    font-weight: 200;
    font-size: 1.2rem;
}

#bio-2 {
    font-weight: 200;
    font-size: 1.1rem;
}

#site-loader {
    display: block;
    color: red;
}

#column {
    color: #c6c4bf;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 10rem;
}

#header-contact {
    color: black;
    font-weight: 100;  
}

#subheading-contact {
    font-weight: 100;
    text-align: center;
    text-decoration: overline;
}

#options-contact {
    align-items: center;
}

#icons {
    width: 3rem;
    justify-content: center;    
    margin-bottom: 2rem;
}

#icons:hover {
    transition: all 1s ease-in-out;
    width: 3.5rem;
    cursor: pointer;
}

#phone-number-block {
    margin-top: 2rem;
    align-items: center;
    text-align: center;
    font-weight: 100;
    text-decoration: underline;
}

#contact-description {
    margin-top: 5rem;
    font-size: 2rem;
    font-weight: 200;
    align-items: center;
    text-align: center;
}

#accent-img {
    animation: rotate 3s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

#portfolio-Work {
    text-align: center;
    font-weight: 200;
}

#portfolio-gallery {
    align-items: center;
    justify-items: center;
    text-align: center;
}

#portfolio-img {
    width: 10rem;
    border-radius: 50%;
}

#portfolio-img:hover {
    transition: all 0.5s ease-in-out;
}

#portfolio-title {
    margin-top: 2rem;
    text-align: center;
    font-weight: 200;
}

#portfolio-description {
    text-align: center;
    text-decoration: overline;
}

.line-break {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 80vw;
    height: 1px;
    background-color: rgb(200, 200, 178);
}

#SF-main {
    width: 500px;
}

#SF-title {
    text-decoration: overline;
}

#SF-header {
    text-decoration: underline;
    font-weight: 200;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#SF-desc {
    font-weight: 200;
    font-size: 1.3rem;
}

#SF-link {
    text-decoration: none;
}

#link {
    text-decoration: none;
}

#list-item {
    color: #9d9b97;
    text-decoration: underline;
}

#ML-header {
    text-decoration: underline;
    font-weight: 200;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#ML-list {
    font-weight: 200;
    font-size: 1.3rem;
}

#ML-desc {
    font-weight: 200;
    font-size: 1.3rem;
}

#ML-link {
    text-decoration: none;
}

#Fractal-header {
    text-decoration: underline;
    font-weight: 200;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

#Fractal-desc {
    font-weight: 200;
    font-size: 1.3rem;
}

#Fractal-link {
    text-decoration: none;
}

#Fractal-list {
    font-weight: 200;
    font-size: 1.3rem;
}

#footer {
    font-weight: 200;
}








